/**GENERAL*/
span {
	color: black;
}

.no_rezise {
	resize: none;
}

.header-custom {
	background-color:#2196f3;
}

/**CAPTION*/
.custom_caption {
	font-size:12px;
}

.custom_caption_title {
	font-size: 16px;
}

/**NOTAS*/
.notas {
	font-family: monospace;
	font-size: 11px;
	font-style: italic;
	color: #838383;
}

.no_rezise.notas {
	border: none;
	background-color: white;
}

/* FUENTE PARA LAS LETRAS DE LA VENTANA*/
.z-window-header {
	color: white;
	font-size: 17px;
	font-weight: bolder;
	font-family: serif;
}
.z-window-header .z-window-header-move {
	color: white;
}

.z-fondo-principal { 
	background-image: url("/app/resources/img/fondo.jpg");
	background-repeat: repeat;
}	

.z-letra-grande {
	
	font-size: 17px;
	color: #428bca;
	font-weight: bold;
}

/*FUENTES*/
/* FUENTE PARA LOS CAMPOS REQUERIDOS*/
.requerido {
	color: red;
	font-weight: bold;
}

.titulo_blanco span{
	color: white;
}

.base_contenedor_campos {
	padding: 5px;
}

.base_division_campos {
	margin-top:10px; 
	margin-left:5px;
	margin-right:15px;
}

.base_division_campos.z-columnchildren div.z-columnchildren-content span {
	margin-left:10px;
}