
.bigger-200 {
	font-size: 200%
}

.bigger-160 {
	font-size: 160%
}

.bigger-180 {
	font-size: 180%
}

.bigger-185 {
	font-size: 185%
}

.bigger-190 {
	font-size: 190%
}

.pointer {
	cursor: pointer;
}

.actionColumn {
	margin: 70px 34px;
	background-color:  
}

